body {
	margin: 0;
	font-family: 'Proxima Nova Semibold',sans-serif;
	background-color: #333;
	color: white;
	min-width: 1100px;
}
h1 {
	text-align: center;
	color: #333;
	margin: 0;
	padding: 1em 1em 0;
	font-size: 3em;
}
#heading {
	background: #ddd;
	border-bottom: 1px solid #bbb;
	color: #222;
	padding-bottom: 20px;
}
#heading > p {
	text-align: center;
}
h2.strand-name {
	font-size: 1em;
	color: #222;
	opacity: 0.9;
	margin: 4px 8px;
	height: 2em;
}

.grade-level {
	clear: both;
	page-break-after: always;
	padding: 1px;
}
.grade-name {
	color: #bbb;
	font-size: 4em;
	padding-top: 20px;
	margin: 12px 1.5% 8px;
	color: #eee;
}
.strand {
	float: left;
	width: 19.6%;
	padding: 6px 0;
	margin: 0 0.2%;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.strand-container {
	margin: 0 0.1%;
}
.strand-empty {
	float: left;
	width: 20%;
	box-sizing: border-box;
}
.strand .mg {
	float: right;
}
.strand-heading > h2 {
	float:left;
}

.cc, .nf, .rp, .f, .if, .bf, .tf, .le {background-color: #19B357;}
.oa, .ee, .sse, .ce, .rei, .apr {background-color: #94C439;}
.nbt, .c, .ns, .rn, .q, .cn, .vm {background-color: #B8B021;}
.md, .sp, .ic, .id, .cp {background-color: #BF8E22;}
.g, .gmd, .mg, .co, .srt, .c, .gpe {background-color: #C46E2B;}

.cluster {
	background-color: rgba(0,0,0,0.2);
	position: relative;
	margin-top: 40px;
	padding: 0 0;
	clear: both;
}

h3.cluster-name {
	font-size: 0.8em;
	text-align: right;
	font-weight: normal;
	opacity: 0.8;
	position: absolute;
	top: -28px;
	right: 4px;
	color: #111;
}
.standard-code {
	text-shadow: none;
	color: #000;
	opacity: 0.6;
	font-weight: 100;
	font-size: 1.1em;
	display: block;
}
.standard-code:hover {
	opacity: 0.8;
}
.standard {
	padding: 8px 4px 8px 3em;
	font-size: 0.8em;
	font-weight: 100;
	position: relative;
	cursor: default;
	min-height: 1em;
}
.standard:hover {
	background-color: rgba(0,101,185,0.8);
}
.parent-standard {
	padding: 10px 0 0 8px;
	font-size: 0.8em;
	min-height: 1em;
	margin-bottom: 0;
	color: #111;
}
.parent-standard > .standard-code {
	margin-right: 0.5em;
	font-size: 1em;
	display: inline;
}
.parent-standard > .standard-code:before {
	content: '';
	white-space: normal;
}
.plus {
	color: #111;
	text-shadow: none;
}

/* GLOBE LINKS TO ANIMATE DEPENDENCIES */
.standard-icon {
	color: #222;
	opacity: 0.7;
	display: block;
	position: absolute;
	left: 8px;
	z-index: 10;
	text-shadow: none;
	font-size: 1.4em;
	text-align: center;
	width: 1em;
	opacity: 0.7;
}
.standard-icon:hover {
	text-shadow: 1px 1px #ddd;
}
.icon-on > i {
	color: #fff;
}
.icon-on > i:hover {
	color: #fff;
	text-shadow: 1px 1px #222;
}
.icon-on {
	background-color: rgba(0,101,185,0.5);
}
.standard-on {
	background-color: rgba(0,101,185,0.5);
}

/* SUB CLUSTERS */
.sub-cluster {
	background-color: rgba(0,0,0,0.15);
	padding: 0;
}

/* SVG OVERLAY */
#svg-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	pointer-events: none;
}

#grade-menu {
	width: 100%;
	z-index: 200;
}

.menu-link {
	display: block;
	float:left;
	padding: 4px 12px;
	text-align: center;
	width: 7.142857%;
	box-sizing: border-box;
	background: #222;
	color: #aaa;
	text-decoration: inherit;
	cursor: pointer;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
}

.menu-link:hover {
	color: #fff;
	background-color: #555;
	border-bottom: 1px solid #fff;
}

.khan-map, .im {
	padding-left: 6px;
	opacity: 0.6;
	color: #333;
}

.fa-youtube-play {
	color: #222;
	display: block;
	float: right;
	margin: 0 3px;
}

.fa-youtube-play:hover {
	text-shadow: 1px 1px #ddd;
}

#standard-text {
	width: 100%;
	font-size: 1.2em;
	z-index: 100;
	background-color: rgba(30,30,30,0.98);
	box-sizing: border-box;
	padding: 0 14% 1em;
	color: #ddd;
	position: fixed;
	bottom: -100px;
}

#st-code {
	padding-left: 0.5em;
}

.close {
	position: absolute;
	top: 0.2em;
	right: 1em;
	opacity: 0.7;
}

.close:hover {
	position: absolute;
	top: 0.2em;
	right: 1em;
	cursor: pointer;
	opacity: 1;
}