body {
	margin: 0;
	font-family: 'Proxima Nova Semibold',sans-serif;
	background-color: #333;
	min-width: 1200px;
}
h1 {
	text-align: center;
	color: #333;
	margin: 0;
	padding: 1em 1em 0;
	font-size: 4em;
}
#heading {
	background: #ddd;
	border-bottom: 1px solid #bbb;
	color: #222;
	padding-bottom: 20px;
}
.strand-name {
	font-size: 1.25em;
	color: #222;
	opacity: 0.9;
	margin: 4px 8px;
	height: 2em;
}
.strand {
	float: left;
	width: 19.8%;
	padding: 6px 0;
	margin: 0.1%;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.cc, .nf, .rp, .f, .if, .bf, .tf, .le {background-color: #19B357;}
.oa, .ee, .sse, .ced, .rei, .apr {background-color: #94C439;}
.nbt, .c, .ns, .rn, .q, .cn, .vm {background-color: #B8B021;}
.md, .sp, .ic, .id, .cp {background-color: #BF8E22;}
.g, .gmd, .mg, .co, .srt, .c, .gpe {background-color: #C46E2B;}
.grade-level {
	clear: both;
	page-break-after: always;
	padding: 1px;
}
.grade-name {
	color: #bbb;
	font-size: 4em;
	padding-top: 20px;
	margin: 12px 1.5% 8px;
	color: #eee;
}
.cluster {
	background-color: rgba(0,0,0,0.4);
	position: relative;
	margin-top: 40px;
	padding: 0 0;
	clear: both;
}
.cluster-name {
	font-size: 0.9em;
	font-weight: bold;
	opacity: 0.8;
	position: absolute;
	top: -34px;
	left: 4px;
	color: #111;
}
.sub-cluster {
	background-color: rgba(0,0,0,0.1);
	padding: 0;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	border-left: 4px solid rgba(0,0,0,0.2);
}
.standard-code {
	text-shadow: none;
	color: #000;
	opacity: 0.6;
	margin-left: 0.3em;
	font-weight: 100;
	font-size: 1.1em;
}
.standard-code:hover {
	opacity: 0.8;
}
.standard {
	padding: 8px;
	font-size: 0.9em;
	font-weight: 100;
	cursor: default;
	min-height: 1em;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.standard:hover {
	background-color: rgba(0,101,185,0.8);
}
.parent-standard {
	padding: 10px 0 0 4px;
	min-height: 1em;
	line-height: 12px;
	color: #222;
	font-size: 0.9em;
	font-weight: bold;
	background-color: rgba(255,255,255,0.1);
}
.parent-standard > .standard-code {
	font-weight: normal;
}
.sub-cluster .standard-code {
	display: none;
}
.standard-on, .standard-on>i, .standard-on>i:hover{
	color: #fff;
}
.standard-on  {
	background-color: #222;
}
.standard-on > .standard-code, .standard-on > .standard-code:hover {
	color: #aaa;
}
.st-code {
	color: #333;
}
.st-main {
	color: #555;
}
.st-type {
	color: #333;
}
.st-example {
	color: #555;
	margin: 8px 0;
}
.st-footnote {
	color: #555;
}
.footnote {
	margin-right: 0.5em;
}
.st-thoughts {
	color: #555;
}
.thoughts {
	margin-right: 0.5em;
}
